header {
  display: block;
}

.uk-navbar {
  box-sizing: border-box;
  height: 0.67rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  display: inline-block;
  font-family: 'Raleway';
}

.nav-link {
  color: white;
}

.navbar_logo {
  margin-left: 25%;
  margin-top: 25px;
}

.navbar_logo {
  width: 45%;
}

.nav-link {
  color: white;
}

.home-hero {
  height: 100vh;
  overflow: hidden;
}

.home-hero__background {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  z-index: -1;
}

.home-hero .background-video {
  background: #000;
  height: 140%;
  left: -20%;
  position: absolute;
  top: -10%;
  width: 140%;
}

.home-hero__background {
  text-align: center;
}

.home-hero__background::after {
  content: '';
  background: #000;
  opacity: 0.5;
  height: auto;
}

.home-hero__background,
.home-hero__background::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.home-hero__content {
  color: #fff;
  display: flex;
  margin: 0 auto;
  transform: translateY(75%);
  width: calc(100% - 10rem);
  padding-top: 0.5rem;
}

.home-hero__content__text {
  padding: 0.5rem;
  max-width: 25rem;
  margin-top: 100px;
  font-family: 'Raleway', sans-serif;
}

.home-hero__tagline {
  font-size: 75px;
  font-weight: 700;
  margin: 0.3rem 0;
  font-family: 'Raleway', sans-serif;
}

.btn {
  margin-right: 20px !important;
}

body h1,
body h2 {
  font-weight: 700;
  margin: 0;
}

.text-warning {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}

.bg-white {
  background-color: rgba(250, 235, 215, var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
}

.z-0 {
  z-index: 0;
}

.w-full {
  width: 100%;
}

.lg\:rounded-t-r96 {
  border-top-left-radius: 96px;
  border-top-right-radius: 96px;
}

.bg-primary-dark {
  --bs-bg-opacity: 1;
  background-color: #005c45 !important;
}

.title-about {
  color: #082032;
  font-weight: bolder;
  font-size: 40px;
  padding-top: 30px;
  margin-right: 30px;
  font-family: 'Raleway', sans-serif;
}

.fs-6 {
  color: #082032;
  padding-top: 10px;
  margin-right: 30px;
  font-family: 'Work Sans', sans-serif;
}

body section {
  box-sizing: border-box;
  width: 100%;
}

body div {
  box-sizing: border-box;
}

.rounded-circle {
  max-width: 10rem;
  margin-top: 50px;
  padding-bottom: 20px;
}

p,
h1,
h3 {
  margin-block-end: 0 !important;
  margin-block-start: 0 !important;
  margin-bottom: 0 !important;
}

.speak-videos {
  position: absolute;
  z-index: 8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.speak-video-wrap.right {
  margin-left: 10px;
}

.speak-video-wrap {
  position: relative;
  width: 240px;
  height: 340px;
  border-radius: 11px;
}

img.profile_us {
  width: 200%;
  height: 200%;
  margin-left: 50px;
  margin-top: 80px;
  border-radius: 50px;
}

.right-text-block {
  position: relative;
  z-index: 10;
  display: flex;
  width: 50%;
  padding-right: -10rem;
  margin-left: 40rem;
  padding-top: 10rem;
  justify-content: center;
  align-self: center;
}

.max-470 {
  max-width: 1300px;
}

.title-desc-mentor {
  padding-left: 5px;
  font-family: 'Raleway'
}

.host-mentor {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: .5em !important;
  font-size: 1em !important;
  line-height: 1.6em !important;
  padding-left: 5px;
}

p.host-mentor {
  padding-top: 20px !important;
  text-align: justify;
  font-size: 20px !important;
}

a {
  text-decoration: inherit;
}

.btn-research {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  position: relative;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .3s;
  min-width: 44px;
}

.btn-solid {
  border-radius: 24px;
  height: 44px;
  line-height: 44px;
  padding-left: 24px;
  padding-right: 24px;
}

.btn-solid--light {
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  color: rgba(255, 255, 255);
}

@media (min-width: 1200px) {
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .c-feature-card-spot__card, __card {
    width: 100%;
  }

  .xl\:p-16 {
    padding: 64px;
  }

  .xl\:block {
    display: block;
  }

  .sm\:items-center {
    align-items: center;
  }

  .sm\:rounded-r40 {
    border-radius: 40px;
  }

  .xl\:mb-4 {
    margin-bottom: 16px;
  }

  .xl\:leading-height_36x {
    line-height: 36px;
  }

  .xl\:text-size_13x {
    font-size: 26px;
  }

  .xl\:mb-19 {
    margin-bottom: 76px;
  }

  .xl\:leading-height_24x {
    line-height: 24px;
  }

  .xl\:bottom-0 {
    bottom: 0;
  }

  .xl\:absolute {
    position: absolute;
  }

  .xl\:mb-16 {
    margin-bottom: 64px;
  }
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 1200px) {
  .xl\:gap-8 {
    gap: 32px;
  }

  .grid {
    display: grid;
  }
}

h4 {
  margin-top: 0;
  margin-bottom: 1.4em;
  font-size: 1.414em;
  line-height: 1.5em;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
}

video {
  display: inline-block;
  vertical-align: baseline;
}

footer {
  background-color: #f4f4f4;
}

.company-name {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #1B2430;
}

.address-company {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #1B2430;
}

.col-sm {
  flex: 1 0 0%;
}

.text-cap {
  display: block;
  color: #1B2430;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: .03125rem;
  margin-bottom: 1rem;
  font-family: 'Work Sans', sans-serif;
}

.text-primary-gray {
  --bs-text-opacity: 1;
  color: #1B2430 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #1B2430;
}

ul {
  margin-top: 0;
}

.list-py-1>li {
  padding-top: .25rem;
  padding-bottom: .25rem;
}
