header {
  display: block;
}

.uk-navbar {
  box-sizing: border-box;
  height: .67rem;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 10;
  display: inline-block;
}
.nav-link{
  color: white;
}

.navbar_logo {
  margin-left: 25%;
  margin-top: 25px;
}
.navbar_logo{
  width: 45%;
}
.nav-link {
  color: white;
}

.home-hero {
  height: 100vh;
  overflow: hidden;
}

.home-hero__background {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  z-index: -1;
}

.home-hero .background-video {
  background: #000;
  height: 140%;
  left: -20%;
  position: absolute;
  top: -10%;
  width: 140%;
}

.home-hero__background {
  text-align: center;
}

.home-hero__background::after {
  content: "";
  background: #000;
  opacity: 0.5;
  height: auto;
}

.home-hero__background,
.home-hero__background::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
